In [278]:
import pandas as pd

In [279]:
df_states=pd.read_csv('dim_states_codes.csv')

In [280]:
df1 = pd.read_csv('constituency_wise_results_2014.csv')
df1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [152]:
df2 = pd.read_csv('constituency_wise_results_2019.csv')
df2

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410

# DATA CLEANING (Results 2014)

In [153]:
df1= df1.dropna()

In [154]:
 df1.state.replace("Andhra Pradesh","Telangana", inplace=True)

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\1804269706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.state.replace("Andhra Pradesh","Telangana", inplace=True)

In [155]:
distritos_multiples_estados = df1.groupby('pc_name')['state'].nunique()

distritos_conflictivos = distritos_multiples_estados[distritos_multiples_estados > 1]
print(distritos_conflictivos)

pc_name
Aurangabad     2
Hamirpur       2
Maharajganj    2
Name: state, dtype: int64

In [156]:
df_conflictivos = df1[df1['pc_name'].isin(distritos_conflictivos.index)]
#df_conflictivos.groupby('state').first()

df_conflictivos

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
1130,Bihar,Maharajganj,"JANARDAN SINGH ""SIGRIWAL""",M,50.0,GEN,BJP,Lotus,320645,108,320753,1642068
1131,Bihar,Maharajganj,NAGENDRA PRASAD,M,49.0,GEN,BSP,Elephant,11187,2,11189,1642068
1132,Bihar,Maharajganj,PRABHU NATH SINGH,M,61.0,GEN,RJD,Hurricane Lamp,282171,167,282338,1642068
1133,Bihar,Maharajganj,MANORANJAN SINGH,M,54.0,GEN,JD(U),Arrow,149436,47,149483,1642068
1134,Bihar,Maharajganj,BYAS MANJHI,M,43.0,SC,BMUP,Cot,4796,0,4796,1642068
...,...,...,...,...,...,...,...,...,...,...,...,...
6937,Uttar Pradesh,Maharajganj,DAYARAM NISHAD,M,34.0,GEN,IND,Cup & Saucer,4210,0,4210,1743131
6938,Uttar Pradesh,Maharajganj,DINESH KUMAR,M,60.0,SC,IND,Walking Stick,1671,0,1671,1743131
6939,Uttar Pradesh,Maharajganj,DINANATH,M,41.0,SC,IND,Sewing Machine,2149,0,2149,1743131
6940,Uttar Pradesh,Maharajganj,RAKESH KUMAR GIRI,M,37.0,GEN,IND,Hat,2545,0,2545,1743131
6941,Uttar Pradesh,Maharajganj,RAKESH KUMAR GUPTA,M,27.0,GEN,IND,Gas Cylinder,1828,0,1828,1743131

In [157]:
df1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8349,Puducherry,Puducherry,P. BAKKIARAJ,M,31.0,SC,IND,Pot,610,0,610,901357
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357

In [158]:
df1.loc[(df1['pc_name'] == 'Aurangabad')]

df1.drop(df1.loc[1418:1430].index, inplace=True)

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\3281698746.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df1.loc[1418:1430].index, inplace=True)

In [159]:
df1.loc[(df1['pc_name']== 'Hamirpur')] 
df1.drop(df1.loc[6665:6679].index, inplace=True)

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\3982032461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df1.loc[6665:6679].index, inplace=True)

In [160]:
df1[df1['pc_name']=='Maharajganj']
df1.drop(df1.loc[1131:1139].index, inplace=True)

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\3076225221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df1.loc[1131:1139].index, inplace=True)

In [161]:
df1.loc[(df1['pc_name'] == 'Aurangabad')]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
3755,Maharashtra,Aurangabad,CHANDRAKANT BHAURAO KHAIRE,M,62.0,GEN,SHS,Bow & Arrow,520559,343,520902,1589395
3756,Maharashtra,Aurangabad,JEVRIKAR INDRAKUMAR DNYANOBA,M,40.0,SC,BSP,Elephant,37412,7,37419,1589395
3757,Maharashtra,Aurangabad,PATIL NITIN SURESH,M,44.0,GEN,INC,Hand,358812,90,358902,1589395
3758,Maharashtra,Aurangabad,ABDUL KHUDUS ABDUL SAMAD SHAIKH,M,32.0,GEN,BMUP,Cot,3774,1,3775,1589395
3759,Maharashtra,Aurangabad,JADHAV PUSHPA SHANTILAL,F,40.0,SC,ANC,Bat,1037,1,1038,1589395
3760,Maharashtra,Aurangabad,BANSWAL MANNALAL PREMCHAND,M,47.0,SC,PRCP,Whistle,893,0,893,1589395
3761,Maharashtra,Aurangabad,MOHMMAD KISMATWALA KASIM KISMATWALA,M,37.0,GEN,GaAP,Iron,1198,3,1201,1589395
3762,Maharashtra,Aurangabad,GAYAKE SADASHIV AMBADAS,M,64.0,GEN,SP,Bicycle,2646,0,2646,1589395
3763,Maharashtra,Aurangabad,SAYYAD SHAFIYODDIN VAHIYODDIN,M,46.0,GEN,WPOI,Kite,2885,0,2885,1589395
3764,Maharashtra,Aurangabad,SUBHASH KALYANRAO LOMTE,M,62.0,GEN,AAAP,Broom,11969,5,11974,1589395
3765,Maharashtra,Aurangabad,AHAMAD AZIZ AHAMAD MATEEN,M,53.0,GEN,IND,Auto- Rickshaw,1572,0,1572,1589395
3766,Maharashtra,Aurangabad,BANSODE UDHAV GOVARDHAN,M,31.0,SC,IND,Cup & Saucer,1795,0,1795,1589395
3767,Maharashtra,Aurangabad,ANKUSH MUNJAJI TUPSAMUNDRE,M,39.0,SC,IND,Pen Nib with Seven Rays,2019,0,2019,1589395
3768,Maharashtra,Aurangabad,KAILAS CHANDRABHAN THENGDE,M,36.0,GEN,IND,Dolli,2123,0,2123,1589395
3769,Maharashtra,Aurangabad,JAGDIP VISHWANATH SHINDE,M,31.0,SC,IND,Air Conditioner,1530,0,1530,1589395
3770,Maharashtra,Aurangabad,TRIBHUVAN MADHUKAR PADMAKAR,M,45.0,SC,IND,Almirah,6135,0,6135,1589395
3771,Maharashtra,Aurangabad,DANDGE NANASAHEB DAMODHAR,M,44.0,SC,IND,Sewing Machine,5901,0,5901,1589395
3772,Maharashtra,Aurangabad,NADEEM RANA,M,40.0,GEN,IND,Ceiling Fan,2922,0,2922,1589395
3773,Maharashtra,Aurangabad,PHULARE SURESH ASARAM,M,33.0,GEN,IND,Hat,2520,0,2520,1589395
3774,Maharashtra,Aurangabad,DR. FEROZ KHAN MURTUZA KHAN,M,44.0,GEN,IND,Balloon,978,0,978,1589395
3775,Maharashtra,Aurangabad,BALASAHEB ASARAM SARATE,M,45.0,GEN,IND,Coconut,880,0,880,1589395
3776,Maharashtra,Aurangabad,BALASAHEB VITTHAL AWARE,M,49.0,GEN,IND,Gas Cylinder,614,0,614,1589395
3777,Maharashtra,Aurangabad,JAWAHARLAL LAXMAN BHAGURE,M,30.0,SC,IND,Television,877,1,878,1589395
3778,Maharashtra,Aurangabad,BHANUDAS RAMDAS SARODE,M,39.0,GEN,IND,Electric Pole,934,0,934,1589395
3779,Maharashtra,Aurangabad,RAJU BABURAO DOLE,M,44.0,GEN,IND,Pressure Cooker,1238,0,1238,1589395
3780,Maharashtra,Aurangabad,NANDARKAR VISHAL UDDHAV,M,29.0,GEN,IND,Green Chilli,1306,0,1306,1589395
3781,Maharashtra,Aurangabad,SHAIK SAYYAD SHAIK MAHMOOD,M,33.0,GEN,IND,Candles,1581,0,1581,1589395

# DATA CLEANING (Results 2019)

In [162]:
#df2= df2.dropna()

In [163]:
distritos_multiples_estados = df2.groupby('pc_name')['state'].nunique()

distritos_conflictivos = distritos_multiples_estados[distritos_multiples_estados > 1]
print(distritos_conflictivos)

pc_name
Aurangabad     2
Hamirpur       2
Maharajganj    2
Name: state, dtype: int64

In [164]:
df_conflictivos = df2[df2['pc_name'].isin(distritos_conflictivos.index)]
#df_conflictivos.groupby('state').first()

df_conflictivos

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
819,Bihar,Maharajganj,Anirudh Prasad alias Sadhu Yadav,MALE,51.0,GENERAL,BSP,Elephant,24913,126,25039,1807768
820,Bihar,Maharajganj,"Janardan Singh 'Sigriwal""",MALE,55.0,GENERAL,BJP,Lotus,543523,2829,546352,1807768
821,Bihar,Maharajganj,Randhir Kumar Singh,MALE,36.0,GENERAL,RJD,Hurricane Lamp,314803,777,315580,1807768
822,Bihar,Maharajganj,Aravind Kumar Sharma,MALE,55.0,GENERAL,BJKD,Hat,8001,5,8006,1807768
823,Bihar,Maharajganj,Ali Azhar Ansari,MALE,60.0,GENERAL,ManJP,Bead Necklace,3285,16,3301,1807768
...,...,...,...,...,...,...,...,...,...,...,...,...
6633,Uttar Pradesh,Maharajganj,PANNELAL,MALE,33.0,SC,IND,Auto- Rickshaw,3871,1,3872,1915408
6634,Uttar Pradesh,Maharajganj,PRAMOD KUMAR,MALE,36.0,GENERAL,IND,Plastering Trowel,2236,0,2236,1915408
6635,Uttar Pradesh,Maharajganj,MOHANKUMAR,MALE,49.0,GENERAL,IND,Almirah,3066,0,3066,1915408
6636,Uttar Pradesh,Maharajganj,LALDHARI YADAV,MALE,42.0,GENERAL,IND,Ganna Kisan,5386,1,5387,1915408
6637,Uttar Pradesh,Maharajganj,NOTA,NaN,NaN,NaN,NOTA,NaN,10458,20,10478,1915408

In [165]:
df2.loc[(df2['pc_name'] == 'Aurangabad'),'state']

df2.drop(df2.loc[1135:1144].index, inplace=True)

In [166]:
df2[df2['pc_name']=='Maharajganj']
df2.drop(df2.loc[819:830].index ,inplace=True)

In [167]:
df2.loc[(df2['pc_name']== 'Hamirpur'),'state'] 
df2.drop(df2.loc[1857:1868].index, inplace=True)

# TASKS

In [21]:
df1_constitucies = df1.groupby('pc_name').sum()
df1_constitucies['total_electors']= df1.groupby('pc_name').first()[['total_electors']]
df1_constitucies['total_votes'] = pd.to_numeric(df1_constitucies['total_votes'], errors='coerce')
df1_constitucies['total_electors'] = pd.to_numeric(df1_constitucies['total_electors'], errors='coerce')

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\667137592.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1_constitucies = df1.groupby('pc_name').sum()

In [22]:
df1_constitucies ['VotersTurnoutRatio']=(df1_constitucies['total_votes']/df1_constitucies['total_electors'])*100
#df2_constitucies ['VotersTurnoutRatio']=(df2_constitucies['total_votes']/df2_constitucies['total_electors'])*100

# TOP 5 Ratio Districts

In [23]:
df1_constitucies.sort_values(by='VotersTurnoutRatio',ascending=False).head(10)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Dhubri,724.0,1363312,501,1363813,1550166,87.978513
Nagaland,195.0,1035666,548,1036214,1182972,87.594127
Tamluk,440.0,1323457,2584,1326041,1527273,86.824098
Lakshadweep,245.0,43116,0,43116,49922,86.366732
Kanthi,336.0,1279507,1706,1281213,1490409,85.963853
Bardhaman Purba,422.0,1306208,663,1306871,1532244,85.291311
Bishnupur,418.0,1249816,1326,1251142,1466921,85.290346
Tripura West,747.0,1051514,8536,1060050,1248546,84.902759
Basirhat,511.0,1262934,866,1263800,1490596,84.784878
Mathurapur,478.0,1260380,1263,1261643,1488785,84.743129

In [24]:
df1_constitucies.sort_values(by='VotersTurnoutRatio').head(10)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Srinagar,652.0,307229,4,307233,1207230,25.449417
Anantnag,582.0,369302,41,369343,1301143,28.386042
Baramulla,735.0,461411,13,461424,1190766,38.750183
Kalyan,824.0,814423,588,815011,1922034,42.403568
Patna Sahib,952.0,872148,2387,874535,1946249,44.934384
BHIND,379.0,723445,67,723512,1600137,45.215628
Nalanda,966.0,916198,111,916309,1951967,46.942853
Arrah,620.0,878351,159,878510,1824515,48.150330
Mumbai North central,928.0,837936,419,838355,1737084,48.262203
Jamui (SC),490.0,756080,42,756122,1550936,48.752624

In [25]:
df2_constitucies = df2.groupby('pc_name').sum()
df2_constitucies['total_electors']= df2.groupby('pc_name').first()[['total_electors']]
df2_constitucies['total_votes'] = pd.to_numeric(df2_constitucies['total_votes'], errors='coerce')
df2_constitucies['total_electors'] = pd.to_numeric(df2_constitucies['total_electors'], errors='coerce')

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\1822082942.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2_constitucies = df2.groupby('pc_name').sum()

In [26]:
df2_constitucies ['VotersTurnoutRatio']=(df2_constitucies['total_votes']/df2_constitucies['total_electors'])*100

In [27]:
df2_constitucies.sort_values(by='VotersTurnoutRatio',ascending=False).head(10)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Dhubri,683.0,1682616,2389,1685005,1858566,90.661564
Bishnupur,463.0,1417871,2777,1420648,1627199,87.306347
Barpeta,616.0,1452238,6311,1458549,1685149,86.553118
Jalpaiguri,708.0,1497711,3211,1500922,1735464,86.485343
ARUNACHAL EAST,276.0,282854,10927,293781,339788,86.460087
Ongole,560.0,1323296,19072,1342368,1556469,86.244442
Bapatla,633.0,1254570,11922,1266492,1468671,86.233881
Narasaraopet,637.0,1429525,7895,1437420,1670391,86.052906
Kanthi,376.0,1421750,2497,1424247,1660147,85.790415
Bolpur,355.0,1458949,2320,1461269,1705073,85.701257

In [28]:
df2_constitucies.sort_values(by=['VotersTurnoutRatio'],ascending=False).head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Dhubri,683.0,1682616,2389,1685005,1858566,90.661564
Bishnupur,463.0,1417871,2777,1420648,1627199,87.306347
Barpeta,616.0,1452238,6311,1458549,1685149,86.553118
Jalpaiguri,708.0,1497711,3211,1500922,1735464,86.485343
ARUNACHAL EAST,276.0,282854,10927,293781,339788,86.460087

# BOTTOM 5 RATIO Districts

In [29]:
df1_constitucies.sort_values(by=['VotersTurnoutRatio']).head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Srinagar,652.0,307229,4,307233,1207230,25.449417
Anantnag,582.0,369302,41,369343,1301143,28.386042
Baramulla,735.0,461411,13,461424,1190766,38.750183
Kalyan,824.0,814423,588,815011,1922034,42.403568
Patna Sahib,952.0,872148,2387,874535,1946249,44.934384

In [30]:
df2_constitucies.sort_values(by=['VotersTurnoutRatio']).head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
pc_name,,,,,,
Anantnag,878.0,122849,2047,124896,1397779,8.935318
Srinagar,568.0,186366,466,186832,1294671,14.430848
Baramulla,510.0,452114,3436,455550,1317738,34.570605
Hyderabad,686.0,877267,605,877872,1957931,44.836718
Kalyan,1266.0,887955,2358,890313,1965676,45.292968

# STATE

# TOP 5 STATES

In [31]:
#df1.loc[(df1['state'] == 'Uttar Pradesh')&(df1['pc_name']=='Amethi')]

In [32]:
#df1.loc[(df1['state'] == 'Telangana')]

In [33]:
#df1.loc[(df1['state'] == 'Arunachal Pradesh')]

In [34]:

df1_states = df1.groupby('state').sum()

df1_states['total_electors']= district_totals.groupby('state').sum()
#df1_states = df1.groupby('state')[['total_electors']].sum()
#df1_states['total_votes'] = df1.groupby('state')[['total_votes']].sum()

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\119200264.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1_states = df1.groupby('state').sum()

NameError: name 'district_totals' is not defined

In [35]:
district_totals = df1.groupby(['state', 'pc_name'])['total_electors'].sum().reset_index()

In [36]:
# Drop duplicates based on 'state' and 'pc_name' to only keep one entry per district
unique_districts = df1.drop_duplicates(subset=['state', 'pc_name'])

# Now, sum the total_electors for each state
state_totals = unique_districts.groupby('state')['total_electors'].sum().reset_index()

# And also sum the total_electors for each district within each state
district_totals = unique_districts.groupby(['state', 'pc_name'])['total_electors'].sum().reset_index()
 



df1_states = df1.groupby('state').sum()

df1_states['total_electors']= district_totals.groupby('state').sum()

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\865229387.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1_states = df1.groupby('state').sum()
C:\Users\chris\AppData\Local\Temp\ipykernel_17904\865229387.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1_states['total_electors']= district_totals.groupby('state').sum()

In [37]:
df1_states ['VotersTurnoutRatio']=(df1_states['total_votes']/df1_states['total_electors'])*100

In [38]:
df1_states.sort_values(by='VotersTurnoutRatio',ascending=False).head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
state,,,,,,
Nagaland,195.0,1035666,548,1036214,1182972,87.594127
Lakshadweep,245.0,43116,0,43116,49922,86.366732
Tripura,1377.0,1985213,14833,2000046,2388822,83.725200
Dadra & Nagar Haveli,507.0,162324,0,162324,196597,82.566875
Sikkim,319.0,295308,9327,304635,370770,82.162796

In [39]:
# Drop duplicates based on 'state' and 'pc_name' to only keep one entry per district
unique_districts = df2.drop_duplicates(subset=['state', 'pc_name'])

# Now, sum the total_electors for each state
state_totals = unique_districts.groupby('state')['total_electors'].sum().reset_index()

# And also sum the total_electors for each district within each state
district_totals = unique_districts.groupby(['state', 'pc_name'])['total_electors'].sum().reset_index()
 



df2_states = df2.groupby('state').sum()

df2_states['total_electors']= district_totals.groupby('state').sum()

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\1474408189.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2_states = df2.groupby('state').sum()
C:\Users\chris\AppData\Local\Temp\ipykernel_17904\1474408189.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2_states['total_electors']= district_totals.groupby('state').sum()

In [40]:
df2_states ['VotersTurnoutRatio']=(df2_states['total_votes']/df2_states['total_electors'])*100

In [41]:
df2_states.sort_values(by='VotersTurnoutRatio',ascending=False).head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
state,,,,,,
Lakshadweep,283.0,46877,132,47009,55189,85.178206
Nagaland,215.0,1002142,4215,1006357,1213777,82.911194
Manipur,1030.0,1606408,10922,1617330,1959563,82.535239
Tripura,1183.0,2142275,10897,2153172,2614718,82.348154
West Bengal,23577.0,57097266,109710,57206976,70001284,81.722752

# BOTTOM 5 STATES

In [42]:
df1_states.sort_values(by='VotersTurnoutRatio').head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
state,,,,,,
Jammu & Kashmir,3811.0,3531705,3608,3535313,7183129,49.216894
Bihar,27251.0,34019087,13964,34033051,62264007,54.659269
Uttar Pradesh,58564.0,79480185,55813,79535998,137072564,58.024739
Maharashtra,40979.0,48226986,57262,48284248,80798823,59.758603
Mizoram,197.0,419291,7415,426706,702170,60.769614

In [43]:
df2_states.sort_values(by='VotersTurnoutRatio').head(5)

,age,general_votes,postal_votes,total_votes,total_electors,VotersTurnoutRatio
state,,,,,,
Jammu & Kashmir,3872.0,3509007,43615,3552622,7922538,44.841969
Bihar,27991.0,38765621,133436,38899057,67665639,57.487164
Uttar Pradesh,46814.0,86220645,260753,86481398,146134603,59.179275
NCT OF Delhi,7797.0,8663777,15235,8679012,14327649,60.575270
Maharashtra,40559.0,53838389,215856,54054245,88676946,60.956367

# 3

In [44]:

df1_x=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index() 

df1_xy=pd.DataFrame(df1.groupby(['pc_name'])['total_votes'].max()).reset_index() 

df1_xyz=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].max().reset_index())
df1_xyzz = df1_xyz.groupby(['pc_name'])['total_votes'].max()
merged_df_x1 = pd.merge(df1_xyzz, df1_xyz, on=['pc_name', 'total_votes'], suffixes=('_2014', '_2019'))



df1_x['total']=df1_xy['total_votes']
df1_x['party']=merged_df_x1['party']
df1_x['VoteRatio'] = (df1_x['total']/df1_x['total_votes']) *100
df1_x=df1_x.sort_values(by='VoteRatio',ascending=False)

###

df2_x=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index() 

df2_xy=pd.DataFrame(df2.groupby(['pc_name'])['total_votes'].max()).reset_index() 

df2_xyz=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].max().reset_index())

df2_xyzz = df2_xyz.groupby(['pc_name'])['total_votes'].max()
merged_df_x = pd.merge(df2_xyzz, df2_xyz, on=['pc_name', 'total_votes'], suffixes=('_2014', '_2019'))


df2_x['total']=df2_xy['total_votes']
df2_x['party']=merged_df_x['party']
df2_x['VoteRatio'] = (df2_x['total']/df2_x['total_votes']) *100
df2_x=df2_x.sort_values(by='VoteRatio',ascending=False)
##

merged_df = pd.merge(df1_x, df2_x, on=['pc_name', 'party'], suffixes=('_2014', '_2019'))
merged_df['vote_percentage_2019'] =  (df2_x['total']/df2_x['total_votes']) *100
##
sorted_df = merged_df.sort_values(by='VoteRatio_2019',ascending=False)

consecutive_party = sorted_df[['pc_name','party','VoteRatio_2019']]
##
consecutive_party

             pc_name party  VoteRatio_2019
0              Surat   BJP       74.470429
2            Navsari   BJP       74.367402
1           Vadodara   BJP       72.296842
51            Kangra   BJP       72.018463
46          Bhilwara   BJP       71.587233
..               ...   ...             ...
328         Ludhiana   INC       36.658214
315  Maldaha Dakshin   INC       34.730246
329           Ladakh   BJP       33.943967
99        Kishanganj   INC       33.316630
128        Kokrajhar   IND       32.751937

[330 rows x 3 columns]

# 4

In [45]:
df_4_sum=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index() 
df_4 = pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].max().reset_index())
df_4_1=df_4.groupby(['pc_name'])['total_votes'].max()
#df_4_1['total']=df_4_sum['total_votes']

df_4_merge=  pd.merge(df_4_1, df_4, on=['pc_name', 'total_votes'])
#df_4_merge['VoteRatio']= (df_4_1['total_votes']/df_4_12['total_votes'])*100

#df_4_sum
merged_4=pd.merge(df_4_merge,df_4_sum,on=['pc_name'])

merged_4['ratio']=(merged_4['total_votes_x']/merged_4['total_votes_y'])*100

merged_4.sort_values(by='ratio',ascending=False)

           pc_name  total_votes_x party  total_votes_y      ratio
457          Surat         718412   BJP         936986  76.672650
491       Vadodara         845464   BJP        1143524  73.934959
357        Navsari         820831   BJP        1151425  71.288273
328   Mumbai North         664004   BJP         937804  70.804134
170    Gandhinagar         773539   BJP        1122718  68.898780
..             ...            ...   ...            ...        ...
13     Alipurduars         362453  AITC        1203681  30.112048
398        Raiganj         317515   CPM        1097264  28.936974
303  Mahabubabad           320569   TRS        1117668  28.681952
292       Ludhiana         300459   INC        1097237  27.383236
285         Ladakh          31111   BJP         116822  26.631114

[508 rows x 5 columns]

In [46]:
df_4_sum2=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index() 
df_42 = pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].max().reset_index())
df_4_12=df_42.groupby(['pc_name'])['total_votes'].max()
#df_4_1['total']=df_4_sum['total_votes']

df_4_merge2=  pd.merge(df_4_12, df_42, on=['pc_name', 'total_votes'])
#df_4_merge['VoteRatio']= (df_4_1['total_votes']/df_4_12['total_votes'])*100

#df_4_sum
merged_42=pd.merge(df_4_merge2,df_4_sum2,on=['pc_name'])

merged_42['ratio']=(merged_42['total_votes_x']/merged_42['total_votes_y'])*100

merged_42.sort_values(by='ratio',ascending=False)

        pc_name  total_votes_x  party  total_votes_y      ratio
489       Surat         795651    BJP        1068412  74.470429
382     Navsari         972739    BJP        1308018  74.367402
523    Vadodara         883719    BJP        1222348  72.296842
267      Kangra         725218    BJP        1006989  72.018463
97     Bhilwara         938160    BJP        1310513  71.587233
..          ...            ...    ...            ...        ...
289  Kishanganj         367017    INC        1101603  33.316630
291   Kokrajhar         484560    IND        1479485  32.751937
41   Aurangabad         389042  AIMIM        1198221  32.468301
29     Anantnag          40180    JKN         124896  32.170766
73    Baramulla         133426    JKN         455550  29.288991

[540 rows x 5 columns]

In [47]:
df_42 = pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].max().reset_index())
df_42_1=df_42.groupby(['pc_name'])['total_votes'].max()
df_42_merge=  pd.merge(df_42_1, df_42, on=['pc_name', 'total_votes'])
df_42_merge

             pc_name  total_votes party
0     ARUNACHAL EAST       153883   BJP
1     ARUNACHAL WEST       225796   BJP
2          Adilabad        377374   BJP
3               Agra       646875   BJP
4        Ahmadnagar        704660   BJP
..               ...          ...   ...
535         Warangal       612498   TRS
536           Wardha       578364   BJP
537          Wayanad       706367   INC
538  Yavatmal-Washim       542098   SHS
539        Zahirabad       434244   TRS

[540 rows x 3 columns]

In [48]:
merge= pd.merge(merged_4,merged_42 ,on=['pc_name'], suffixes=('_2014','_2019'))

In [49]:
merge['difference']= merge['ratio_2019'] - merge['ratio_2014']

In [50]:
merge.loc[merge['party_2014']!=merge['party_2019']].sort_values(by='difference',ascending=False).head(10)

,pc_name,total_votes_x_2014,party_2014,total_votes_y_2014,ratio_2014,total_votes_x_2019,party_2019,total_votes_y_2019,ratio_2019,difference
13,Alipurduars,362453,AITC,1203681,30.112048,750804,BJP,1380217,54.397533,24.285485
245,Kanniyakumari,372906,BJP,986592,37.797387,627235,INC,1048377,59.829145,22.031758
41,Autonomous District,213152,INC,531533,40.101367,381316,BJP,617735,61.728087,21.626720
418,Sambhal,360242,BJP,1049344,34.330210,658006,SP,1183469,55.599766,21.269556
85,Bhagalpur,367623,RJD,962141,38.208849,618254,JD(U),1042518,59.303916,21.095067
223,Jhanjharpur,335481,BJP,933206,35.949297,602391,JD(U),1060562,56.799225,20.849928
382,Puducherry,255826,AINRC,717749,35.642822,444981,INC,790760,56.272573,20.629751
115,Chikkballapur,424800,INC,1255592,33.832646,745912,BJP,1386963,53.780238,19.947592
174,Ghazipur,306929,BJP,981062,31.285383,566082,BSP,1105627,51.200088,19.914706
266,Kolar,418926,INC,1122218,37.330180,709165,BJP,1258551,56.347736,19.017556

# 5

In [51]:
 #Sort the data by constituency and total votes to find the winner and runner-up
df1_sorted = df1.sort_values(by=['pc_name', 'total_votes'], ascending=[True, False])

# Identify the winner and runner-up in each constituency
df1_sorted['rank'] = df1_sorted.groupby('pc_name')['total_votes'].rank(method='first', ascending=False)

# Calculate the margin only for winners (rank == 1)
winners = df1_sorted[df1_sorted['rank'] == 1]
runners_up = df1_sorted[df1_sorted['rank'] == 2]

# Merge winners and runners-up to calculate the margin
margins = pd.merge(winners, runners_up, on='pc_name', suffixes=('_winner', '_runner_up'))
margins['margin'] = margins['total_votes_winner'] - margins['total_votes_runner_up']

# Sort by the margin and get the top 5 candidates
top_5_candidates = margins.nlargest(5, 'margin')

# Display the relevant information
top_5_candidates[['state_winner', 'pc_name', 'candidate_winner', 'party_winner', 'margin']]

      state_winner    pc_name         candidate_winner party_winner  margin
491        Gujarat   Vadodara            NARENDRA MODI          BJP  570128
177  Uttar Pradesh  Ghaziabad        VIJAY KUMAR SINGH          BJP  567260
357        Gujarat    Navsari              C. R. PATIL          BJP  558116
213      Rajasthan     Jaipur         RAMCHARAN BOHARA          BJP  539345
457        Gujarat      Surat  DARSHANA VIKRAM JARDOSH          BJP  533190

In [52]:
 #Sort the data by constituency and total votes to find the winner and runner-up
df2_sorted = df2.sort_values(by=['pc_name', 'total_votes'], ascending=[True, False])

# Identify the winner and runner-up in each constituency
df2_sorted['rank'] = df2_sorted.groupby('pc_name')['total_votes'].rank(method='first', ascending=False)

# Calculate the margin only for winners (rank == 1)
winners = df2_sorted[df2_sorted['rank'] == 1]
runners_up = df2_sorted[df2_sorted['rank'] == 2]

# Merge winners and runners-up to calculate the margin
margins = pd.merge(winners, runners_up, on='pc_name', suffixes=('_winner', '_runner_up'))
margins['margin'] = margins['total_votes_winner'] - margins['total_votes_runner_up']

# Sort by the margin and get the top 5 candidates
top_5_candidates2 = margins.nlargest(5, 'margin')

# Display the relevant information
top_5_candidates2[['state_winner', 'pc_name', 'candidate_winner', 'party_winner', 'margin']]

    state_winner    pc_name         candidate_winner party_winner  margin
382      Gujarat    Navsari              C. R. Patil          BJP  689668
276      Haryana     Karnal            Sanjay Bhatia          BJP  656142
171      Haryana  Faridabad              KRISHAN PAL          BJP  638239
97     Rajasthan   Bhilwara  SUBHASH CHANDRA BAHERIA          BJP  612000
523      Gujarat   Vadodara          RANJANBEN BHATT          BJP  589177

#### APRENDER METODO RANK(ENREALIDAD ESTE CODIGO ENTERO)

# 6

In [53]:
df1['total_votes'].sum()

512337089

In [54]:
df_2014=pd.DataFrame(df1.groupby('party')['total_votes'].sum()).reset_index()
df_2014['sum']= (df1['total_votes'].sum())
df_2014['vote_percentage']= (df_2014['total_votes']/df_2014['sum'])*100

df_voteshare1=df_2014.sort_values(by=['total_votes'],ascending=False)
df_voteshare1

     party  total_votes        sum  vote_percentage
80     BJP    160285936  512337089        31.285249
163    INC     96321926  512337089        18.800498
110    BSP     22218655  512337089         4.336726
31    AITC     21209364  512337089         4.139728
384     SP     18442139  512337089         3.599610
..     ...          ...        ...              ...
4     ABAS          296  512337089         0.000058
424    VSP          263  512337089         0.000051
315  RJAVP          259  512337089         0.000051
358  RaJPa          217  512337089         0.000042
114   BVLP          161  512337089         0.000031

[452 rows x 4 columns]

In [55]:
df_2019=pd.DataFrame(df2.groupby('party')['total_votes'].sum()).reset_index()
df_2019['sum']= (df2['total_votes'].sum())
df_2019['vote_percentage']= (df_2019['total_votes']/df_2019['sum'])*100

df_voteshare2=df_2019.sort_values(by=['total_votes'],ascending=False)
df_voteshare2

    party  total_votes        sum  vote_percentage
126   BJP    227420114  611276454        37.204134
238   INC    119212094  611276454        19.502157
44   AITC     24929330  611276454         4.078241
167   BSP     22180595  611276454         3.628570
240   IND     16480511  611276454         2.696081
..    ...          ...        ...              ...
197  DKSP          346  611276454         0.000057
620   ToP          330  611276454         0.000054
192  CoAP          275  611276454         0.000045
196  DJHP          273  611276454         0.000045
347  MLJK          265  611276454         0.000043

[673 rows x 4 columns]

# 7

In [56]:
df_split = pd.DataFrame(df1.groupby(['state','party'])['total_votes'].sum().reset_index())

df_s=df_split.groupby('state')['total_votes'].sum()

df_split_1=pd.merge(df_split,df_s ,on='state')

df_split_1['ratio']= (df_split_1['total_votes_x']/df_split_1['total_votes_y'])*100
df_split_1

,state,party,total_votes_x,total_votes_y,ratio
0,Andaman & Nicobar Islands,AAAP,3737,188764,1.979721
1,Andaman & Nicobar Islands,AIFB,225,188764,0.119196
2,Andaman & Nicobar Islands,AITC,2283,188764,1.209447
3,Andaman & Nicobar Islands,BJP,90969,188764,48.191922
4,Andaman & Nicobar Islands,BSP,1139,188764,0.603399
...,...,...,...,...,...
996,West Bengal,SUCI,350616,51060534,0.686667
997,West Bengal,SWJP,5340,51060534,0.010458
998,West Bengal,TRMRPPI,1071,51060534,0.002098
999,West Bengal,WPOI,48006,51060534,0.094018
1000,West Bengal,grac,2906,51060534,0.005691

In [57]:
df_s

state
Andaman & Nicobar Islands      188764
Arunachal Pradesh              590635
Assam                        14938826
Bihar                        34033051
Chandigarh                     450349
Dadra & Nagar Haveli           162324
Daman & Diu                     85917
Goa                            806897
Gujarat                      25369118
Haryana                      11460931
Himachal Pradesh              3069345
Jammu & Kashmir               3535313
Jharkhand                    12792013
Karnataka                    30780980
Kerala                       17765332
Lakshadweep                     43116
Madhya Pradesh               29247970
Maharashtra                  48284248
Manipur                       1405132
Meghalaya                     1047913
Mizoram                        426706
NCT OF Delhi                  8232076
Nagaland                      1036214
Puducherry                     717749
Punjab                       13786378
Rajasthan                    26782731
Sikkim                         304635
Tamil Nadu                   40025367
Telangana                    48026634
Tripura                       2000046
Uttar Pradesh                79535998
Uttarakhand                   4343847
West Bengal                  51060534
Name: total_votes, dtype: int64

In [58]:
#l=pd.DataFrame(df_split.groupby('state')['total_votes'].sum())

#df_split['ratio']=df_split.loc[df_split['state'],'total_votes'].sum()
#df1.sort_values(by='ratio',ascending=False)


df_split=pd.DataFrame(df1.groupby('state')['total_votes'].sum())
df_split['max']=df1.groupby('state')['total_votes'].max()


df_split['constituncices']=df1.groupby('state')['pc_name'].nunique()
df_split.sort_values(by='constituncices',ascending=False)

                           total_votes     max  constituncices
state
Uttar Pradesh                 79535998  758482              79
Maharashtra                   48284248  664004              48
West Bengal                   51060534  748764              42
Telangana                     48026634  671983              42
Bihar                         34033051  493461              39
Tamil Nadu                    40025367  628499              39
Madhya Pradesh                29247970  854972              29
Karnataka                     30780980  718326              28
Gujarat                       25369118  845464              26
Rajasthan                     26782731  863358              25
Kerala                        17765332  462525              20
Jharkhand                     12792013  543491              14
Assam                         14938826  764985              14
Punjab                        13786378  533237              13
Haryana                       11460931  652516              10
NCT OF Delhi                   8232076  651395               7
Jammu & Kashmir                3535313  619995               6
Uttarakhand                    4343847  636769               5
Himachal Pradesh               3069345  456163               4
Tripura                        2000046  671665               2
Goa                             806897  237903               2
Meghalaya                      1047913  239301               2
Manipur                        1405132  296770               2
Arunachal Pradesh               590635  169367               2
Chandigarh                      450349  191362               1
Dadra & Nagar Haveli            162324   80790               1
Mizoram                         426706  210485               1
Sikkim                          304635  163698               1
Puducherry                      717749  255826               1
Nagaland                       1036214  713372               1
Daman & Diu                      85917   46960               1
Lakshadweep                      43116   21665               1
Andaman & Nicobar Islands       188764   90969               1

###### 2019

In [59]:
df_split2 = pd.DataFrame(df2.groupby(['state','party'])['total_votes'].sum().reset_index())

df_s2=df_split2.groupby('state')['total_votes'].sum()

df_split2_2=pd.merge(df_split2,df_s2 ,on='state')

df_split2_2['ratio']= (df_split2_2['total_votes_x']/df_split2_2['total_votes_y'])*100
df_split2_2.sort_values(by='ratio',ascending=False)

df_split2_2[(df_split2_2['state']=='Uttar Pradesh')&(df_split2_2['party']=='BJP')]

              state party  total_votes_x  total_votes_y      ratio
1152  Uttar Pradesh   BJP       42858171       86481398  49.557676

In [60]:
df_split22=pd.DataFrame(df2.groupby('state')['total_votes'].sum())
df_split22['max']=df2.groupby('state')['total_votes'].max()


df_split22['constituncices']=df2.groupby('state')['pc_name'].nunique()
df_split22.sort_values(by='constituncices',ascending=False)

                           total_votes      max  constituncices
state
Uttar Pradesh                 86481398   944503              80
Maharashtra                   54054245   749085              48
West Bengal                   57206976   791127              42
Tamil Nadu                    43392884   793281              39
Bihar                         38899057   692193              38
Madhya Pradesh                36910610  1068569              29
Karnataka                     35138682   878258              28
Gujarat                       29081964   972739              26
Rajasthan                     32441064   982942              25
Andhra Pradesh                31612534   783499              25
Odisha                        23794122   630179              21
Kerala                        20385216   706367              20
Telangana                     18642895   612498              17
Assam                         17986066  1008936              14
Jharkhand                     14961958   827234              14
Punjab                        13765432   633427              13
Chhattisgarh                  13614453   849374              11
Haryana                       12681536   913222              10
NCT OF Delhi                   8679012   865648               7
Jammu & Kashmir                3552622   858066               6
Uttarakhand                    4842925   772195               5
Himachal Pradesh               2861967   725218               3
Tripura                        2153172   573532               2
Arunachal Pradesh               652091   225796               2
Meghalaya                      1367231   419689               2
Manipur                        1617330   363527               2
Goa                             853203   244844               2
Nagaland                       1006357   500510               1
Puducherry                      790760   444981               1
Mizoram                         499621   224286               1
Dadra & Nagar Haveli            198983    90421               1
Sikkim                          351746   166922               1
Chandigarh                      456568   231188               1
Lakshadweep                      47009    22851               1
Daman & Diu                      87469    37597               1
Andaman & Nicobar Islands       207296    95308               1

# 8

In [61]:
df_party1=(df1.groupby('party').sum().sort_values(by='total_votes', ascending=False).reset_index()).reset_index()
df_party2=(df2.groupby('party').sum().sort_values(by='total_votes', ascending=False).reset_index()).reset_index()

#df_party=df_party1.loc[(df_party1['index']==0)|(df_party1['index']==1)]

#df_party2=df_party2.loc[(df_party2['index']==0)|(df_party2['index']==1)]

df_parties = pd.merge(df_party1,df_party2, on='party')

df_parties1 = df_parties['total_votes_y']>df_parties['total_votes_x']
df_parties1 = df_parties.loc[(df_parties['index_x']==0)|(df_parties['index_x']==1)]
df_parties1

C:\Users\chris\AppData\Local\Temp\ipykernel_17904\2625532044.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_party1=(df1.groupby('party').sum().sort_values(by='total_votes', ascending=False).reset_index()).reset_index()
C:\Users\chris\AppData\Local\Temp\ipykernel_17904\2625532044.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_party2=(df2.groupby('party').sum().sort_values(by='total_votes', ascending=False).reset_index()).reset_index()

,index_x,party,age_x,general_votes_x,postal_votes_x,total_votes_x,total_electors_x,index_y,age_y,general_votes_y,postal_votes_y,total_votes_y,total_electors_y
0,0,BJP,21510.0,160001956,283980,160285936,610361643,0,23614.0,226418770,1001344,227420114,729779718
1,1,INC,23389.0,96167281,154645,96321926,658910303,1,23093.0,118848612,363482,119212094,703779880

In [62]:
df1_f=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df1_g=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index()


df1_h=pd.merge(df1_f,df1_g,on='pc_name')
df1_h['difference']=(df1_h['total_votes_x']/df1_h['total_votes_y'])*100
df1_j=df1_h.loc[df1_h['party']=='BJP'].sort_values(by='difference',ascending=False)

df2_f=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df2_g=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index()


df2_h=pd.merge(df2_f,df2_g,on='pc_name')
df2_h['difference']=(df2_h['total_votes_x']/df2_h['total_votes_y'])*100
df2_j=df2_h.loc[df2_h['party']=='BJP'].sort_values(by='difference',ascending=False)



df_k=pd.merge(df1_j,df2_j,on=['pc_name','party'])
df_k['d']=df_k['difference_y']- df_k['difference_x']
df_k.sort_values(by='d',ascending=False)

,pc_name,party,total_votes_x_x,total_votes_y_x,difference_x,total_votes_x_y,total_votes_y_y,difference_y,d
352,Tripura West,BJP,54706,1060050,5.160700,573532,1107755,51.774264,46.613564
344,Purulia,BJP,86236,1187949,7.259234,668107,1355236,49.298203,42.038969
349,Tripura East,BJP,60613,939996,6.448219,482126,1045417,46.118056,39.669837
308,Ranaghat,BJP,233670,1338570,17.456689,783253,1484035,52.778607,35.321918
336,Jhargram,BJP,122459,1234678,9.918294,626583,1406214,44.558154,34.639860
...,...,...,...,...,...,...,...,...,...
84,Daman & diu,BJP,46960,85917,54.657402,37597,87469,42.983228,-11.674174
38,Sangli,BJP,611563,1040549,58.773109,508995,1189958,42.774199,-15.998910
179,Tirupati,BJP,542951,1204372,45.081669,16125,1313515,1.227622,-43.854047
142,Visakhapatnam,BJP,566832,1156229,49.024198,33892,1239754,2.733768,-46.290430
131,Narsapuram,BJP,540306,1080943,49.984689,12414,1177738,1.054054,-48.930635

In [63]:
df1_f=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df1_g=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index()


df1_h=pd.merge(df1_f,df1_g,on=['pc_name'])
df1_h['difference']=(df1_h['total_votes_x']/df1_h['total_votes_y'])*100
df1_j=df1_h.loc[df1_h['party']=='INC'].sort_values(by='difference',ascending=False)

df2_f=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df2_g=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index()


df2_h=pd.merge(df2_f,df2_g,on=['pc_name'])
df2_h['difference']=(df2_h['total_votes_x']/df2_h['total_votes_y'])*100
df2_j=df2_h.loc[df2_h['party']=='INC'].sort_values(by='difference',ascending=False)



df_k=pd.merge(df1_j,df2_j,on=['pc_name','party'])
df_k['d']=df_k['difference_y']- df_k['difference_x']
df_k=df_k.sort_values(by='d',ascending=False)

pd.merge(df1,df_k,on='pc_name').sort_values(by='d').head(40)

,state,pc_name,candidate,sex,age,category,party_x,party_symbol,general_votes,postal_votes,total_votes,total_electors,party_y,total_votes_x_x,total_votes_y_x,difference_x,total_votes_x_y,total_votes_y_y,difference_y,d
2866,Maharashtra,Ratnagiri - sindhudurg,VINAYAK BHAURAO RAUT,M,60.0,GEN,SHS,Bow & Arrow,492900,188,493088,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2873,Maharashtra,Ratnagiri - sindhudurg,SUNIL ALIAS YASHWANT VASANT PEDNEKAR,M,47.0,GEN,IND,Auto- Rickshaw,7328,0,7328,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2872,Maharashtra,Ratnagiri - sindhudurg,ARUN HARISHCHANDRA MANJREKAR,M,59.0,GEN,IND,Whistle,5999,0,5999,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2871,Maharashtra,Ratnagiri - sindhudurg,AJINKYA DHONDU GAWADE,M,48.0,GEN,IND,Cup & Saucer,2331,1,2332,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2870,Maharashtra,Ratnagiri - sindhudurg,VINOD HANUMANTRAO SAWANT,M,57.0,GEN,ABHM,Coconut,1395,0,1395,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2869,Maharashtra,Ratnagiri - sindhudurg,BIRJE YASHWANT ANANT,M,71.0,GEN,BMUP,Cot,1992,0,1992,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2868,Maharashtra,Ratnagiri - sindhudurg,ADV. DIPAK DATTARAM NEVGI,M,54.0,GEN,SP(I),Battery Torch,2904,0,2904,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2867,Maharashtra,Ratnagiri - sindhudurg,ABHIJIT SHRIRAM HEGSHETYE,M,56.0,GEN,AAAP,Broom,12693,7,12700,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2865,Maharashtra,Ratnagiri - sindhudurg,NILESH NARAYAN RANE,M,33.0,GEN,INC,Hand,342999,38,343037,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
2864,Maharashtra,Ratnagiri - sindhudurg,AYARE RAJENDRA LAHU,M,51.0,GEN,BSP,Elephant,13084,4,13088,1367362,INC,343037,883863,38.811105,63299,901102,7.024621,-31.786484
1436,Himachal Pradesh,Hamirpur,KAMAL KANTA BATRA,F,69.0,GEN,AAAP,Broom,15281,48,15329,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1435,Himachal Pradesh,Hamirpur,URMILA SHARMA,F,58.0,GEN,SP,Bicycle,2327,1,2328,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1434,Himachal Pradesh,Hamirpur,RAJINDER SINGH RANA,M,48.0,GEN,INC,Hand,348871,761,349632,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1438,Himachal Pradesh,Hamirpur,AMIN CHAND,M,55.0,SC,IND,Telephone,646,1,647,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1432,Himachal Pradesh,Hamirpur,ANURAG SINGH THAKUR,M,39.0,GEN,BJP,Lotus,446755,1280,448035,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1437,Himachal Pradesh,Hamirpur,SHIV DUTT VASISHT,M,61.0,GEN,SHS,Bow & Arrow,952,0,952,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1433,Himachal Pradesh,Hamirpur,RAKESH CHOUDHARY,M,38.0,GEN,BSP,Elephant,5821,6,5827,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1441,Himachal Pradesh,Hamirpur,RAJINDER SINGH RANA,M,47.0,GEN,IND,Sewing Machine,3677,10,3687,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1439,Himachal Pradesh,Hamirpur,ASHISH KUMAR,M,34.0,GEN,IND,Almirah,603,0,603,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
1440,Himachal Pradesh,Hamirpur,DEV RAJ BHARDWAJ,M,61.0,GEN,IND,Coconut,1690,2,1692,1247699,INC,349632,828732,42.188790,114534,1089778,10.509847,-31.678943
2651,Maharashtra,Aurangabad,JEVRIKAR INDRAKUMAR DNYANOBA,M,40.0,SC,BSP,Elephant,37412,7,37419,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2665,Maharashtra,Aurangabad,TRIBHUVAN MADHUKAR PADMAKAR,M,45.0,SC,IND,Almirah,6135,0,6135,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2664,Maharashtra,Aurangabad,JAGDIP VISHWANATH SHINDE,M,31.0,SC,IND,Air Conditioner,1530,0,1530,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2663,Maharashtra,Aurangabad,KAILAS CHANDRABHAN THENGDE,M,36.0,GEN,IND,Dolli,2123,0,2123,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2662,Maharashtra,Aurangabad,ANKUSH MUNJAJI TUPSAMUNDRE,M,39.0,SC,IND,Pen Nib with Seven Rays,2019,0,2019,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2661,Maharashtra,Aurangabad,BANSODE UDHAV GOVARDHAN,M,31.0,SC,IND,Cup & Saucer,1795,0,1795,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2659,Maharashtra,Aurangabad,SUBHASH KALYANRAO LOMTE,M,62.0,GEN,AAAP,Broom,11969,5,11974,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2658,Maharashtra,Aurangabad,SAYYAD SHAFIYODDIN VAHIYODDIN,M,46.0,GEN,WPOI,Kite,2885,0,2885,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2657,Maharashtra,Aurangabad,GAYAKE SADASHIV AMBADAS,M,64.0,GEN,SP,Bicycle,2646,0,2646,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2656,Maharashtra,Aurangabad,MOHMMAD KISMATWALA KASIM KISMATWALA,M,37.0,GEN,GaAP,Iron,1198,3,1201,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2655,Maharashtra,Aurangabad,BANSWAL MANNALAL PREMCHAND,M,47.0,SC,PRCP,Whistle,893,0,893,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2654,Maharashtra,Aurangabad,JADHAV PUSHPA SHANTILAL,F,40.0,SC,ANC,Bat,1037,1,1038,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2653,Maharashtra,Aurangabad,ABDUL KHUDUS ABDUL SAMAD SHAIKH,M,32.0,GEN,BMUP,Cot,3774,1,3775,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2652,Maharashtra,Aurangabad,PATIL NITIN SURESH,M,44.0,GEN,INC,Hand,358812,90,358902,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2650,Maharashtra,Aurangabad,CHANDRAKANT BHAURAO KHAIRE,M,62.0,GEN,SHS,Bow & Arrow,520559,343,520902,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2666,Maharashtra,Aurangabad,DANDGE NANASAHEB DAMODHAR,M,44.0,SC,IND,Sewing Machine,5901,0,5901,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2667,Maharashtra,Aurangabad,NADEEM RANA,M,40.0,GEN,IND,Ceiling Fan,2922,0,2922,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2660,Maharashtra,Aurangabad,AHAMAD AZIZ AHAMAD MATEEN,M,53.0,GEN,IND,Auto- Rickshaw,1572,0,1572,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2669,Maharashtra,Aurangabad,DR. FEROZ KHAN MURTUZA KHAN,M,44.0,GEN,IND,Balloon,978,0,978,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181
2670,Maharashtra,Aurangabad,BALASAHEB ASARAM SARATE,M,45.0,GEN,IND,Coconut,880,0,880,1589395,INC,358902,976561,36.751621,91789,1198221,7.660440,-29.091181

In [64]:
df1.loc[df1['state']=='Dadra & Nagar Haveli']

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
8143,Dadra & Nagar Haveli,Dadar & Nagar Haveli,KHULAT JANIYABHAI CHANDUBHAI,M,58.0,ST,NCP,Clock,1611,0,1611,196597
8144,Dadra & Nagar Haveli,Dadar & Nagar Haveli,DELKAR MOHANBHAI SANJIBHAI,M,51.0,ST,INC,Hand,74576,0,74576,196597
8145,Dadra & Nagar Haveli,Dadar & Nagar Haveli,PATEL NATUBHAI GOMANBHAI,M,41.0,ST,BJP,Lotus,80790,0,80790,196597
8146,Dadra & Nagar Haveli,Dadar & Nagar Haveli,PATEL HEMANTBHAI KESHAVBHAI,M,43.0,ST,BSP,Elephant,982,0,982,196597
8147,Dadra & Nagar Haveli,Dadar & Nagar Haveli,KISHAN NATHU GHUTIYA,M,44.0,ST,SHS,Bow & Arrow,378,0,378,196597
8148,Dadra & Nagar Haveli,Dadar & Nagar Haveli,PATEL CHHOTUBHAI BABUBHAI,M,49.0,ST,AAAP,Broom,621,0,621,196597
8149,Dadra & Nagar Haveli,Dadar & Nagar Haveli,VIJAYBHAI NATHUBHAI BHOYA,M,30.0,ST,JD(U),Arrow,232,0,232,196597
8150,Dadra & Nagar Haveli,Dadar & Nagar Haveli,UMEDBHAI LALLUBHAI PATEL,M,47.0,ST,BMUP,Cot,348,0,348,196597
8151,Dadra & Nagar Haveli,Dadar & Nagar Haveli,KAMUBEN KHALPABHAI PATEL,F,44.0,ST,IND,Coconut,418,0,418,196597
8152,Dadra & Nagar Haveli,Dadar & Nagar Haveli,PRAKASH VANSHA KHANVELKAR,M,57.0,ST,IND,Whistle,1214,0,1214,196597
8153,Dadra & Nagar Haveli,Dadar & Nagar Haveli,BHURKUD DILIPBHAI NAVJIBHAI,M,43.0,ST,IND,Kite,1154,0,1154,196597

# 9

In [65]:
df1_f=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df1_g=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index()


df1_h=pd.merge(df1_f,df1_g,on='pc_name')
df1_h['difference']=(df1_h['total_votes_x']/df1_h['total_votes_y'])*100
df1_j=df1_h.loc[df1_h['party']=='BJP'].sort_values(by='difference',ascending=False)

df2_f=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df2_g=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index()


df2_h=pd.merge(df2_f,df2_g,on='pc_name')
df2_h['difference']=(df2_h['total_votes_x']/df2_h['total_votes_y'])*100
df2_j=df2_h.loc[df2_h['party']=='BJP'].sort_values(by='difference',ascending=False)



df_k=pd.merge(df1_j,df2_j,on=['pc_name','party'])
df_k['d']=df_k['difference_y']- df_k['difference_x']
df_k.sort_values(by='d',ascending=True)

,pc_name,party,total_votes_x_x,total_votes_y_x,difference_x,total_votes_x_y,total_votes_y_y,difference_y,d
131,Narsapuram,BJP,540306,1080943,49.984689,12414,1177738,1.054054,-48.930635
142,Visakhapatnam,BJP,566832,1156229,49.024198,33892,1239754,2.733768,-46.290430
179,Tirupati,BJP,542951,1204372,45.081669,16125,1313515,1.227622,-43.854047
38,Sangli,BJP,611563,1040549,58.773109,508995,1189958,42.774199,-15.998910
84,Daman & diu,BJP,46960,85917,54.657402,37597,87469,42.983228,-11.674174
...,...,...,...,...,...,...,...,...,...
336,Jhargram,BJP,122459,1234678,9.918294,626583,1406214,44.558154,34.639860
308,Ranaghat,BJP,233670,1338570,17.456689,783253,1484035,52.778607,35.321918
349,Tripura East,BJP,60613,939996,6.448219,482126,1045417,46.118056,39.669837
344,Purulia,BJP,86236,1187949,7.259234,668107,1355236,49.298203,42.038969
352,Tripura West,BJP,54706,1060050,5.160700,573532,1107755,51.774264,46.613564

In [282]:
df1_f=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df1_g=pd.DataFrame(df1.groupby('pc_name')['total_votes'].sum()).reset_index()


df1_h=pd.merge(df1_f,df1_g,on='pc_name')
df1_h['difference']=(df1_h['total_votes_x']/df1_h['total_votes_y'])*100
df1_j=df1_h.loc[df1_h['party']=='INC'].sort_values(by='difference',ascending=False)

df2_f=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
df2_g=pd.DataFrame(df2.groupby('pc_name')['total_votes'].sum()).reset_index()


df2_h=pd.merge(df2_f,df2_g,on='pc_name')
df2_h['difference']=(df2_h['total_votes_x']/df2_h['total_votes_y'])*100
df2_j=df2_h.loc[df2_h['party']=='INC'].sort_values(by='difference',ascending=False)



df_k=pd.merge(df1_j,df2_j,on=['pc_name','party'])
df_k['d']=df_k['difference_y']- df_k['difference_x']
df_k.sort_values(by='d',ascending=True)

,pc_name,party,total_votes_x_x,total_votes_y_x,difference_x,total_votes_x_y,total_votes_y_y,difference_y,d
75,Ratnagiri - sindhudurg,INC,343037,896256,38.274444,63299,901102,7.024621,-31.249823
128,Aurangabad,INC,600496,1769207,33.941534,91789,1198221,7.660440,-26.281094
78,ARUNACHAL WEST,INC,127629,335665,38.022731,50953,358310,14.220368,-23.802363
176,Raiganj,INC,315881,1108193,28.504150,83662,1277109,6.550890,-21.953261
73,Outer manipur,INC,296770,771766,38.453365,152510,858029,17.774458,-20.678908
...,...,...,...,...,...,...,...,...,...
313,Krishnagiri,INC,38885,1068391,3.639585,611298,1161369,52.635984,48.996399
316,Thiruvallur,INC,43960,1254440,3.504353,767292,1408189,54.487856,50.983504
334,Arani,INC,27717,1096046,2.528817,617760,1143907,54.004390,51.475573
295,Tiruchirappalli,INC,51537,988250,5.214976,621285,1048062,59.279413,54.064437
327,Karur,INC,30459,1046534,2.910464,695697,1103165,63.063730,60.153266

# 10

In [281]:
nota=pd.DataFrame(df1.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
nota2=(df1.groupby('pc_name')['total_votes'].sum()).reset_index()

nota3=pd.merge(nota,nota2,on='pc_name')
nota3['vote_share']=(nota3['total_votes_x']/nota3['total_votes_y'])*100

nota3.loc[(nota3['party']=='NOTA')].sort_values(by='vote_share',ascending=False).head(1)

        pc_name party  total_votes_x  total_votes_y  vote_share
4081  Nilgiris   NOTA          46559         933076     4.98984

In [68]:
nota=pd.DataFrame(df2.groupby(['pc_name','party'])['total_votes'].sum()).reset_index()
nota2=(df2.groupby('pc_name')['total_votes'].sum()).reset_index()

nota3=pd.merge(nota,nota2,on='pc_name')
nota3['vote_share']=(nota3['total_votes_x']/nota3['total_votes_y'])*100

nota3.loc[(nota3['party']=='NOTA')].sort_values(by='vote_share',ascending=False).head(1)

             pc_name party  total_votes_x  total_votes_y  vote_share
2030  Gopalganj (SC)  NOTA          51660        1024876     5.04061

# 11

In [276]:
# Calculate the total votes for each state
state_total_votes = df2.groupby('state')['total_votes'].sum()

# Calculate the total votes for each party in each state
party_state_votes = df2.groupby(['state', 'party'])['total_votes'].sum()

# Calculate the vote share for each party in each state
party_state_vote_share = (party_state_votes / state_total_votes) * 100

# Merge this vote share back into the original dataframe
df2 = df.merge(party_state_vote_share.rename('party_vote_share'), on=['state', 'party'])

#candidate elected
e=df2.groupby(['state','pc_name'])['total_votes'].max().reset_index()
r=pd.merge(df2,e,on=['state','pc_name','total_votes'])

#r.loc[r['state']=='Assam']
r.loc[r['party_vote_share']<10]

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,party_vote_share_x,party_vote_share_y,party_vote_share_x,party_vote_share_y,party_vote_share
36,Assam,Dhubri,BADRUDDIN AJMAL,MALE,63.0,GENERAL,AIUDF,Lock and Key,718131,633,718764,1858566,7.795412,7.795412,7.795412,7.795412,7.795412
40,Assam,Kokrajhar,Naba Kumar Sarania,MALE,50.0,ST,IND,Battery Torch,482556,2004,484560,1776358,4.829933,4.829933,4.829933,4.829933,4.829933
57,Bihar,Kishanganj,Dr. Mohammad Jawed,MALE,54.0,GENERAL,INC,Hand,366820,197,367017,1659651,8.074224,8.074224,8.074224,8.074224,8.074224
73,Bihar,Vaishali,Veena Devi (W/o Dinesh Prasad Singh),FEMALE,48.0,GENERAL,LJP,Bungalow,566707,1508,568215,1735983,8.244362,8.244362,8.244362,8.244362,8.244362
74,Bihar,Hajipur (SC),PASHU PATI KUMAR PARAS,MALE,66.0,SC,LJP,Bungalow,539665,1645,541310,1823664,8.244362,8.244362,8.244362,8.244362,8.244362
75,Bihar,Samastipur (SC),Ramchandra Paswan,MALE,58.0,SC,LJP,Bungalow,561460,983,562443,1679030,8.244362,8.244362,8.244362,8.244362,8.244362
76,Bihar,Khagaria,Choudhary Mehboob Ali Kaiser,MALE,52.0,GENERAL,LJP,Bungalow,509138,1055,510193,1676454,8.244362,8.244362,8.244362,8.244362,8.244362
77,Bihar,Nawada,Chandan Singh,MALE,36.0,GENERAL,LJP,Bungalow,491956,3728,495684,1899747,8.244362,8.244362,8.244362,8.244362,8.244362
78,Bihar,Jamui (SC),CHIRAG KUMAR PASWAN,MALE,37.0,SC,LJP,Bungalow,527860,1274,529134,1718814,8.244362,8.244362,8.244362,8.244362,8.244362
120,Jammu & Kashmir,Baramulla,MOHAMMAD AKBAR LONE,MALE,71.0,GENERAL,JKN,Plough,132969,457,133426,1317738,7.891524,7.891524,7.891524,7.891524,7.891524
121,Jammu & Kashmir,Srinagar,Farooq Abdullah,MALE,83.0,GENERAL,JKN,Plough,106596,154,106750,1294671,7.891524,7.891524,7.891524,7.891524,7.891524
122,Jammu & Kashmir,Anantnag,HASNAIN MASOODI,MALE,65.0,GENERAL,JKN,Plough,40032,148,40180,1397779,7.891524,7.891524,7.891524,7.891524,7.891524
152,Karnataka,Mandya,SUMALATHA AMBAREESH,FEMALE,55.0,GENERAL,IND,Man Blowing Turha,702167,1493,703660,1712004,3.892693,3.892693,3.892693,3.892693,3.892693
153,Karnataka,Hassan,PRAJWAL REVANNA,MALE,28.0,GENERAL,JD(S),A lady farmer carrying paddy on her head,675512,1094,676606,1652999,9.668060,9.668060,9.668060,9.668060,9.668060
170,Kerala,Malappuram,P.K. Kunhalikutty,MALE,67.0,GENERAL,IUML,Ladder,589153,720,589873,1370544,5.453447,5.453447,5.453447,5.453447,5.453447
171,Kerala,Ponnani,E. T. Mohammed Basheer,MALE,72.0,GENERAL,IUML,Ladder,521438,386,521824,1356803,5.453447,5.453447,5.453447,5.453447,5.453447
172,Kerala,Kottayam,Thomas Chazhikadan,MALE,66.0,GENERAL,KEC(M),Two Leaves,420294,752,421046,1206698,2.065448,2.065448,2.065448,2.065448,2.065448
173,Kerala,Kollam,N.K.Premachandran,MALE,58.0,GENERAL,RSP,Spade & Stoker,497264,2413,499677,1296720,2.451173,2.451173,2.451173,2.451173,2.451173
227,Maharashtra,Amravati,Navnit Ravi Rana,FEMALE,33.0,SC,IND,Spanner,507844,3103,510947,1833091,3.684247,3.684247,3.684247,3.684247,3.684247
250,Maharashtra,Aurangabad,Imtiaz Jaleel Syed,MALE,50.0,GENERAL,AIMIM,Kite,388784,258,389042,1886284,0.719725,0.719725,0.719725,0.719725,0.719725
278,Punjab,Gurdaspur,SUNNY DEOL,MALE,59.0,GENERAL,BJP,Lotus,551177,7542,558719,1595284,9.628793,9.628793,9.628793,9.628793,9.628793
279,Punjab,Hoshiarpur,SOM PARKASH,MALE,70.0,SC,BJP,Lotus,416711,4609,421320,1597500,9.628793,9.628793,9.628793,9.628793,9.628793
288,Punjab,Sangrur,BHAGWANT MANN,MALE,45.0,GENERAL,AAAP,Broom,412201,1360,413561,1529431,7.379158,7.379158,7.379158,7.379158,7.379158
315,Rajasthan,Nagaur,HANUMAN BENIWAL,MALE,47.0,GENERAL,RLTP,Tyres,655496,4555,660051,1933169,2.034616,2.034616,2.034616,2.034616,2.034616
350,Tamil Nadu,Tiruppur,"SUBBARAYAN, K.",MALE,71.0,GENERAL,CPI,Ears of Corn And Sickle,505793,2932,508725,1530014,2.377387,2.377387,2.377387,2.377387,2.377387
351,Tamil Nadu,Nagapattinam,SELVARAJ M,MALE,63.0,SC,CPI,Ears of Corn And Sickle,519596,3296,522892,1303649,2.377387,2.377387,2.377387,2.377387,2.377387
352,Tamil Nadu,Coimbatore,NATARAJAN. P.R,MALE,68.0,GENERAL,CPIM,"Hammer, Sickle and Star",567741,3409,571150,1958904,2.348318,2.348318,2.348318,2.348318,2.348318
353,Tamil Nadu,Madurai,VENKATESAN S,MALE,49.0,GENERAL,CPIM,"Hammer, Sickle and Star",444152,2923,447075,1539026,2.348318,2.348318,2.348318,2.348318,2.348318
354,Tamil Nadu,Chidambaram,THIRUMAAVALAVAN THOL,MALE,56.0,SC,VCK,Pot,498401,1828,500229,1480222,1.152790,1.152790,1.152790,1.152790,1.152790
355,Tamil Nadu,Ramanathapuram,K. NAVASKANI,MALE,39.0,GENERAL,IUML,Ladder,467585,2358,469943,1559740,1.082996,1.082996,1.082996,1.082996,1.082996
358,Uttar Pradesh,Rae Bareli,SONIA GANDHI,FEMALE,72.0,GENERAL,INC,Hand,533687,1231,534918,1702248,6.310435,6.310435,6.310435,6.310435,6.310435
436,Uttar Pradesh,Mirzapur,Anupriya Singh Patel,FEMALE,37.0,GENERAL,ADAL,Cup & Saucer,590867,697,591564,1845150,1.201967,1.201967,1.201967,1.201967,1.201967
437,Uttar Pradesh,Robertsganj,PAKAURI LAL KOL,MALE,66.0,SC,ADAL,Cup & Saucer,447691,223,447914,1723538,1.201967,1.201967,1.201967,1.201967,1.201967
478,West Bengal,Maldaha Dakshin,ABU HASEM KHAN CHOWDHURY (DALU),MALE,72.0,GENERAL,INC,Hand,443540,730,444270,1575590,5.612062,5.612062,5.612062,5.612062,5.612062
479,West Bengal,Baharampur,ADHIR RANJAN CHOWDHURY,MALE,63.0,GENERAL,INC,Hand,589580,1526,591106,1638378,5.612062,5.612062,5.612062,5.612062,5.612062
504,Jharkhand,Giridih,Chandra Prakash Choudhary,MALE,50.0,GENERAL,AJSUP,Banana,646864,1413,648277,1649413,4.332835,4.332835,4.332835,4.332835,4.332835
526,Telangana,Hyderabad,ASADUDDIN OWAISI,MALE,49.0,GENERAL,AIMIM,Kite,517239,232,517471,1957931,2.775701,2.775701,2.775701,2.775701,2.775701